@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --bg:#fdfdfd;
  --margin:8px;
  --gap:20px;
  --primary: #e76b31;
  --primary-dark: #f18655;
  --test-color: #b15fb1;
  
  --primary-accent: #e97946;
  --grey: #d1d1d1;
  --grey-accent: #c1c1c1;
  --lightgrey:#bebebe;
  --darkgrey: #646464;
  --fg: #3d3d3d;
  --breakpoint:1400px;
}
.vertbine {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:var(--gap);
  flex-direction: column;
}
.w25 {
  width:300px;
  height:fit-content;
}
.vertbine-baseline {

  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  gap:var(--gap);
}

.combine {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap:var(--margin);
}
.font-super-small {
  font-size:0.7rem;
}
.font-small {
  font-size:0.8rem
}
.font-regular {
  font-size:1.1rem;
}
.font-medium {
  font-size:1.5rem;
}
.font-large {
  font-size:2.3rem;
}
.font-title {
  font-size:3.5rem;
}
.btn {
  padding:15px 28px;
  border-radius:var(--breakpoint);
  background-color: var(--fg);
  display: flex;
  border:none;
  white-space:nowrap;
  justify-content: center;
  align-items: center;
  transition:background-color 0.1s ease-in-out;
}
.btn:hover {
  cursor:pointer;
  opacity:0.8;
}
.btn-green {
  background-color: rgb(67, 192, 67);
}
.btn-green-accent {
  background-color:rgb(158, 215, 158);
}
.btn-red {
  background-color:rgb(207, 37, 37);
}
.btn-red-accent {
  background-color:rgb(207, 97, 97);
}

.button {
  padding:15px 28px;
  border-radius:var(--breakpoint);
  background-color: var(--fg);
  display: flex;
  border:none;
  white-space:nowrap;
  justify-content: center;
  align-items: center;
  transition:background-color 0.1s ease-in-out;
}
.button:hover {
  background-color: var(--darkgrey);
  cursor:pointer;
}
.cursor {
  cursor:pointer;
}

.underline {
  cursor:pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.primary-button {
  padding:15px 28px;
  border-radius:var(--breakpoint);
  background-color: var(--primary);
  display: flex;
  white-space:nowrap;
  justify-content: center;
  align-items: center;
  transition:background-color 0.1s ease-in-out;
}
.primary-button:hover {
  background-color: var(--primary-dark);
  cursor:pointer
}


.free-window {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:900;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d3d3d3f;
}
.free-window-full {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:900;
  height:100vh;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  background-color: #3d3d3d3f;
}

.free-window-inner-full {
  width:100%;
  height:calc(100% - 40px);
  background-color: white;
  display: flex;
  justify-content: baseline;
  bottom:0;
  position:absolute;
  left:0;
  align-items: center;
  flex-direction: column;
}
.free-window-header-full {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:60px;
  padding:var(--gap);
  display: flex;
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
}
.free-window-inner {
  width:80%;
  height:80%;
  background-color: white;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  overflow-y: auto;
}

.free-window-content-full {
  padding-top:calc(60px);
  width:100%;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  height:100%;
  gap:5px;
}
.card-view {
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:column;
  gap:var(--gap);
}
.card-answers {
  width:100%;
  height:100px;
  padding:var(--gap);
  display:flex;
  gap:var(--gap);
  justify-content:center;
  align-items:center;
}
.card-no-answers {
  width:100%;
  height:100px;
}

.free-window-content {
  padding-top:calc(60px + var(--gap));
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-bottom: var(--gap);
  width:100%;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  height:fit-content;
  gap:5px;
}
.free-window-item {
  width:100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height:fit-content;
  padding:var(--gap);
  background-color: whitesmoke;
  border-radius:var(--gap);
}
.free-window-item-inner {
  width:90%;
  height:fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.free-window-header {
  position:absolute;
  width:80%;
  height:60px;
  padding:var(--gap);
  display: flex;
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
}

.decks-page {
  width:100%;
  height: calc(100% - 40px);
  margin-top:40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap:var(--margin);
}
.deck-input {
  width:60%;
  padding:var(--gap);
  border-radius:var(--margin);
  height:100px;
  outline:none;
  overflow:hidden;
  resize:none;
  border:1px solid rgba(20, 20, 20, 0.075);

}
.deck-input:focus {
  border:none;
  border:1px solid var(--primary);
  outline:1px solid var(--primary);
}

.red-dot {
  width:5px;
  height:5px;
  border-radius:10px;
  background-color: rgb(240, 51, 51);
  transition:all 0.25s ease-in-out
}
.green-dot {
  width:5px;
  height:5px;
  border-radius:10px;
  background-color: rgb(87, 231, 51);
  transition:all 0.25s ease-in-out

}
.downbine {
  width:100%;
  height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:var(--margin);
}
.color-fg {
  color: var(--fg);
}
.color-bg {
  color: var(--bg);
}
.color-darkgrey {
  color: var(--darkgrey);
}
.color-lightgrey {
  color: var(--lightgrey);
}
.color-grey {
  color: var(--grey);
}

.color-primary {
  color: var(--primary);
}
.color-primary-accent {
  color: var(--primary-accent);
}
.color-red {
  color: #e76b31;
}
.color-green {
  color: rgb(117, 221, 117);
}

.font-slim {
  font-weight:400;
}
.font-heavy {
  font-weight:700;
}
  

.font {
  font-family: "Google Sans", sans-serif;
}
body {
  background-color: var(--grey);
}
.page {
  width: 100%;
  z-index:0;
  height:100vh;
  background-color: var(--bg);
  /* display:flex;
  justify-content:baseline;
  align-items:baseline;
  flex-direction:column; */
}

.titlebar {
  user-select:none;
  app-region: drag;

  width:100%;
  position:fixed;
  top:0;
  left:0;
  height:40px;
  background-color: var(--grey);
  display:flex;
  align-items:center;
  justify-content:baseline;
  gap:var(--margin);
  padding:var(--margin);
  z-index:90;
  color: var(--fg);
}

.titlebar-item {
  app-region: no-drag;
  padding: 6px 8px;
  transition: background-color 0.2s ease-in-out;
  border-radius:4px;
}
.titlebar-item:hover {
  background-color:var(--lightgrey);
}
.titlebar-menu {
  position:absolute;
  top:30px;
  width:max-content;
  background-color: var(--bg);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius:var(--margin);
  display:none;
  justify-content:space-between;
  align-items:baseline;
  flex-direction:column;
  padding:var(--margin);
}
.titlebar-menu-item {
  width:100%;
  padding:var(--margin);
  border-radius:4px;
  gap:calc(var(--gap) * 2);
  height:fit-content;
  display:flex;
  justify-content:space-between;
  align-items:center;
  transition: background-color 0.1s ease-in-out;

}
.titlebar-menu-item:first-child {
  text-align:left;
}
.titlebar-menu-item:last-child {
  text-align:right;
}
.titlebar-menu-item:hover {
  background-color: var(--grey);
  cursor:pointer;
}
.titlebar-menu-item-separator {
  margin-top:var(--margin);
  margin-bottom:var(--margin);
  width:100%;
  height:1px;
  background-color: whitesmoke;
}



.statusbar {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:22px;
  background-color: var(--primary);
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:var(--margin);
  padding:var(--margin);
  
}
.statusbar-item {
  transition: background-color 0.2s ease-in-out;
  height:22px;
  display:flex;
  justify-content:center;
  align-items:center;
  padding-left:4px;
  padding-right:4px;
}
.statusbar-item:hover {
  cursor:pointer;
  background-color: var(--primary-accent);

}

.page-section {
  width:100%;
  height:calc(100vh - 22px);
  background-color: var(--bg);
  display:flex;
  user-select: none;
  justify-content:center;
  align-items:center;
}


.explorer {
  padding-top:40px;
  display:flex;
  flex-direction:column;
  min-width:200px;
  max-width:800px;
  align-items:baseline;
  justify-content:baseline;
  height:100%;
  user-select: none;
  background-color: var(--grey-accent);
}

.explorer-title {

  gap:var(--margin);
  width:100%;
  height:40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:var(--margin);
}

.explorer-topic-field {
  width:100%;
  background-color: var(--grey-accent);
  border:1px solid var(--darkgrey);
  height:fit-content;
  padding:var(--margin);
  display:flex;
  justify-content:space-between;
  background-color:none;
  align-items:center;
}
.explorer-topic-field:focus {
  border:none;
  background-color:var(--grey);
  outline:1px solid var(--darkgrey);
}

.explorer-topic-context-menu {
  position:fixed;
  border:1px solid var(--grey);
  width:max-content;
  background-color: var(--bg);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius:var(--margin);
  display:none;
  justify-content:space-between;
  align-items:baseline;
  flex-direction:column;
  padding:var(--margin);
  z-index:100;
}
.explorer-topic-context-menu-item {
  width:100%;
  padding:var(--margin);
  border-radius:4px;
  gap:calc(var(--gap) * 2);
  height:fit-content;
  display:flex;
  justify-content:space-between;
  align-items:center;
  transition: background-color 0.1s ease-in-out;
  cursor:default;
}
.explorer-topic-context-menu-item:first-child {
  text-align:left;
}
.explorer-topic-context-menu-item:last-child {
  text-align:right;
}
.explorer-topic-context-menu-item:hover {
  background-color: var(--grey);
  cursor:pointer;
}
.explorer-topic {
  width:100%;
  display:flex;
  justify-content:space-between;
  background-color:none;
  align-items:center;
  border:none;
  outline:none;
  transition: all 0.1s ease-in-out;
}
.explorer-topic:hover {
  cursor:pointer;
  background-color: #d1d1d1;
}
.explorer-topic-inner {
  width:100%;
  padding:var(--margin);
  border:1px solid rgba(128, 128, 128, 0);

  display:flex;
  justify-content:space-between;
  background-color:none;
  align-items:center;
  transition: all 0.1s ease-in-out;
}
.explorer-topic-inner:hover {
  cursor:pointer;
  background-color: var(--grey);
}
.explorer-topic-inner-no-hover {
  width:100%;
  border:1px solid grey;
  
  z-index:100;
  padding:var(--margin);
  display:flex;
  justify-content:space-between;
  background-color:none;
  align-items:center;
}

.explorer-remaining {
  width:100%;
  height:100%;
}
.explorer-topics {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  width:100%;
  height:fit-content;
}

.explorer-options {
  gap:4px;
  width:100%;
  height:fit-content;
  display:flex;
  justify-content:end;
  align-items:center;
}
.explorer-option {
  width:22px;
  height:22px;
  border-radius:4px;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: background-color 0.1s ease-in-out;
}

.explorer-option-icon {
  background-size: contain;
  background-position: center;
  height:15px;
  aspect-ratio:1;
}
.explorer-tooltip {
  display:none;
  opacity:0;
  white-space: nowrap;
  position:absolute;
  top:27px;
  width:fit-content;
  background-color: var(--bg);
  padding:4px 8px;
  app-region: no-drag;
  user-select:none;
  z-index:110;
  justify-content: baseline;
  align-items: baseline;

  border-radius:4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.explorer-option-icon:hover + .explorer-tooltip {
  display: flex;
  opacity:1;
}

.explorer-option:hover {
  background-color: var(--darkgrey);
  cursor:pointer;
}
.explorer-option:hover .explorer-option-icon {
  filter:brightness(0) invert(0.8)

}
.add-deck-icon {
  background-image: url('./assets/icons/adddeck.png');
}
.add-topic-icon {
  background-image: url('./assets/icons/addtopic.png');
}
.refresh-icon {
  background-image: url('./assets/icons/refresh.png');
}
.collapse-icon {
  background-image: url('./assets/icons/collapse.png');

}



.explorer-no-topics {
  width:100%;
  height:100px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.explorer-adjustment {
  -webkit-app-region: no-drag;
  cursor:e-resize;
  width:10px;
  height:100%;
  background-color: var(--bg);
  transition:all 0.2s ease-in-out;
}
.explorer-adjustment:hover {
  background-color: var(--primary);
  

}

.inner {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
  background-color: var(--bg);
  transition:opacity 0.5s ease-in-out;
  text-align: center;
}

@media all and (max-width:1200px) {
  .deck-input {
  width:calc(100% - 2 * var(--gap));
  padding:var(--gap);
  border-radius:var(--margin);
  height:100px;
  overflow:hidden;
  resize:none


}
}

@media all and (max-width:600px) {
  .inner {
    opacity:0;
  }
}